<div class="container-header">
  <div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="tel:4776891877">
          <span class="d-none d-sm-none d-md-block"><i class="fas fa-phone-alt fa-lg" aria-hidden="true"></i> LLÁMANOS</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:centrodeconciliaciónlaboral@guanajuato.gob.mx">
          <span class="d-none d-sm-none d-md-block"><i class="fas fa-envelope fa-lg" aria-hidden="true"></i> ESCRÍBENOS</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#inicio" class="nav-link accesibilidad d-none d-sm-none d-md-block" title="Accesibilidad">
          <i class="fas fa-wheelchair fa-lg" aria-hidden="true"></i> Accesibilidad
        </a>
      </li>
    </ul>
  </div>

  <div>

      <ul class="nav">
        <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://twitter.com/CCLGuanajuato?lang=es">
            <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://www.facebook.com/Centro-de-Conciliaci%C3%B3n-Laboral-del-Estado-de-Guanajuato-100707999053383">
            <i class="fab fa-facebook-f fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://www.youtube.com/user/gobiernoguanajuato/featured">
            <i class="fab fa-youtube fa-lg" aria-hidden="true"></i>
          </a>
        </li>

        <li class="nav-item d-none d-md-block" data-uw-styling-context="true">
          <div class="gtranslate_wrapper gt_container-n64dya" id="gt-wrapper-48349129"><!-- GTranslate: https://gtranslate.com --><a href="#" title="English" data-gt-lang="en" class="glink nturl notranslate">
            <img loading="lazy" src="../assets/img/en-us.svg" width="32" height="32" alt="en"></a>
              <a href="#" title="Spanish" data-gt-lang="es" class="glink nturl notranslate gt-current-lang">
            <img loading="lazy" src="../assets/img/es-mx.svg" width="32" height="32" alt="es"></a><div id="google_translate_element2"></div></div>				</li>
      </ul>
  </div>

</div>
